@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div style="text-align:right;direction:rtl;margin:15px;" class="panel panel-body panel-success">
    حساب کاربری شما با موفقیت ایجاد شد. <br/>
    لطفا به ایمیل خود وارد شوید و روی لینک اراسبل شده کلیک نمایید
</div>  